//color
$primary: #96a199;
$secondary: #e9ece8;
$accent: #b75865;
$text: #54603f;
$white: #fff;

// inner-size
$inner: 1080px;
// padding

// font-family
$Lara: "Lora", sans-serif;
$Noto: "Noto Sans JP", sans-serif;
$NotoSerif: "Noto Serif JP", serif;
// size
:root {
  --size-harf: calc(var(--size1) / 2);
  --size1: 5vw;
  --size2: calc(var(--size1) * 2);
  --size3: calc(var(--size1) * 3);
  --size4: calc(var(--size1) * 4);
}

// transition time
$ts-time: 0.3s;