<footer class="l-footer l-footer--center">
  <img
    src="/assets/images/logo.svg"
    width="79"
    height="58"
    class="l-footer__logo"
    alt="H-Builder"
  />
  <ul class="l-footer__menu">
    <li><a href="#">住まいの事例</a></li>
    <li><a href="#">会社概要</a></li>
    <li><a href="#">お問い合わせ</a></li>
  </ul>
</footer>
