---
---

<header class="l-header">
  <img
    class="l-header__logo"
    src="/assets/images/logo-box.svg"
    width="93"
    height="76"
    alt=""
  />
  <button class="l-header__hamburger">
    <span class="l-header__navbtn-bar"></span>
    <span class="sr-only">MENU</span>
  </button>

  <div class="l-header__nav l-header__nav--center">
    <img src="/assets/images/logo.svg" alt="H-Builder" width="79" height="58" class="l-header__logo">
    <ul class="l-header__menu">
      <li><a href="#">住まいの事例</a></li>
      <li><a href="#">会社概要</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
  </div>
</header>

<script>
  const body = document.querySelector("body");
  const hamburger = document.querySelector(".l-header__hamburger");

  hamburger.addEventListener("click", () => {
    body.classList.toggle("open");
  });
</script>
