<section class="l-hero">
  <div class="l-container">
    <h1>Eearthy Home</h1>
    <p class="l-hero__subtitle">自然が身近になる住まい</p>
    <p>人は自然を漢字だるだけでリラックスできると言われています。だからこそ、暮らしに自然を取り込むことにこだわっています。</p>
  </div>
</section>