<section class="p-section03 sec">
  <div class="l-container">
    <div class="num">03</div>
    <h2>日常になるからこそ小さなことも大切にしたい</h2>
    <p>住まいの好みやこだわりは人それぞれ。日常になるからこそ、あんなことはもちろん、こんなことにも。細かなところまでお応えします。</p>
  </div>
</section>