<section class="p-section02 sec decor">
  <div class="l-container p-section02__container">
    <div class="p-section02__text">
      <div class="p-section02__heading">
        <div class="num">02</div>
        <h2>快適であることの心地よさ</h2>
      </div>
      <div class="p-section02__body">
        <p>
          朝は爽やかに目覚め、1日の終わりにはゆったりとくつろげる。そんな快適な空間を作り出します。
        </p>
      </div>
    </div>

    <figure class="p-section02__photo01">
      <img src="/assets/images/natural01.jpg" width="1500" height="1066" alt="">
    </figure>

    <figure class="p-section02__photo02">
      <img src="/assets/images/natural02.jpg" width="1500" height="1066" alt="">
    </figure>

  </div>
</section>
