<section class="p-section01 sec decor">
  <div class="l-container l-container--section01 p-section01__container">
    <div class="p-section01__text">
      <div class="p-section01__heading">
        <div class="num">01</div>
        <h2>ナチュラルに暮らす</h2>
      </div>
      <div class="p-section01__body">
        <p>
          自然にも、自分にも優しく暮らしてみたい。それを無理なくサポートしてくれる仕組みがここにあります。
        </p>
        <a href="#" class="p-section01__more">More</a>
      </div>
    </div>
    <figure class="p-section01__photo01">
      <img
        src="/assets/images/natural01.jpg"
        width="1500"
        height="1066"
        alt=""
      />
    </figure>
    <figure class="p-section01__photo02">
      <img
        src="/assets/images/natural02.jpg"
        width="1500"
        height="1066"
        alt=""
      />
    </figure>
  </div>
</section>
