<section class="p-section03 sec decor">
  <div class=" p-section03__container">
    <div class="p-section03__text">
      <div class="p-section03__heading">
        <div class="num">03</div>
        <h2>日常になるからこそ小さなことも大切にしたい</h2>
      </div>
      <p class="p-section03__body">
        住まいの好みやこだわりは人それぞれ。日常になるからこそ、あんなことはもちろん、こんなことにも。細かなところまでお応えします。
      </p>
    </div>
    <ul class="p-section03__posts">
      <li>
        <a href="#">
          <figure>
            <img src="/assets/images/list01.jpg" width="1500" height="1063" alt="">
          </figure>
          <h3>限られたスペースにも自然を取り入れていくテクニックのアレコレ</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <img src="/assets/images/list02.jpg" width="1500" height="1063" alt="">
          </figure>
          <h3>おまかせ&ほったからしでOKな楽ちんホームキーピングの秘密</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <img src="/assets/images/list03.jpg" width="1500" height="1063" alt="">
          </figure>
          <h3>大切なモノがたくさん増えてもどんと来いな収納スペース</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
